<h3>Bienvenido {{usr.first_name}}</h3>
<button onclick="location.href='/users/logout'" id="logout">Cerrar sesión</button>
{{#each products}}
<FORM action="api/carts/POST/{{cartId}}/product/{{id}}" method="POST">
    <h3> {{title}}</h3>
    <p>description: {{description}}</p>
    <p>price: {{price}}</p>
    <p>code: {{code}}</p>
    <p>stock: {{stock}}</p>
    <p>category: {{category}}</p>
    <p>thumbnails: {{thumbnails}}</p>
    <p>id: <p id="pid">{{id}}</p></p>
    <input type="hidden" name="productId" value="{{id}}">
    <button type="submit" id="btnToCart">Agregar al carrito</button>
</FORM>
{{/each}}
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/cart.js"></script>